.vkmpd_loadBtn {
    float: left;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    background: url('chrome-extension://__MSG_@@extension_id__/img/btn.png') no-repeat 0 0;
    cursor: pointer;
}

.vkmpd_loadBtn__album {
    position: relative;
    top: 4px;
    margin-right: 5px;
}

.vkmpd_loadBtn__player {
    background-size: 28px 28px;
    padding: 15px 8px 15px 4px;
    background-origin: content-box;
    margin: 0;
}

/* vk */
.audio_inline_player {
    position: initial !important;
}

a[id^=ui_rmenu_audio_album] {
    padding: 0 !important;
}

a[id^=ui_rmenu_audio_album]:hover {
    padding: 0 !important;
}